@font-face {
    font-family: "DuckHunt";
    src: URL("/src/assets/fonts/duckhunt.ttf") format("truetype");
}

@font-face {
    font-family: "Dogica";
    src: URL("/src/assets/fonts/dogica.ttf") format("truetype");
}

html {
    overflow: hidden;
    /* Hide scrollbars */
}

.bg {
    height: 100%;
    background: url("/src/assets/img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    max-width: 100%;
}

.duck {
    font-family: "Dogica", Helvetica, sans-serif;
    background-image: url("/src/assets/img/sprites.png");
    background-position: -100px -160px;
    width: 110px;
    height: 115px;
    transition: top 1s, left 1s;
}

.duck.right {
    background-position: -200px -160px;
}

.duck.right.flap {
    background-position: -300px -160px;
}

.duck {
    background-position: -100px -160px;
}

.duck.flap {
    background-position: -430px -160px;
}

.countdownContainer {
    font-family: "DuckHunt", Helvetica, sans-serif;
    text-align: -webkit-center;
    background-color: black;
    width: 15%;
    height: 15%;
    color: #ffffff;
    top: 5%;
    right: 5%;
    line-height: 16pt;
    border: 2px solid greenyellow;
    border-radius: 10px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
}

#countdown-text {
    font-size: 1em;
    padding: 5%;
}

#countdown-counter {
    font-size: 2em;
    padding: 5%;
    font-weight: bold;
}